html {
  font-size: 16px;
}
body {
  padding-bottom: 350px;
}
h1 {
  word-break: break-all;
}
.toc-wrapper {
  position: fixed;
}
.example-trigger > button {
  width: 100%;
}
.dropdown-button > i {
  line-height: inherit;
}
.lean-overlay {
  top: 0 !important;
  bottom: inherit !important;
}
@media only screen and (min-width: 601px) {
  a.brand-logo {
    padding-left: 15px;
  }
}
